body {
  background-color: #e1f2fa; /* xanh nhạt, bạn muốn màu khác thì đổi */
  margin: 0;
}

* {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Poppins";
}

.navbar {
  background-color: rgb(192, 230, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 20px;
  margin: 40px;
  cursor: pointer;
}

.navbar .navbar_right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 40px;
  font-size: 16px;
}

.navbar .navbar_right a {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  gap: 50px;
}

.about .about-img img {
  width: max(20vw, 350px);
  border-radius: 50%;
  border: 5px solid #bcdcff;
}

.about .content {
  width: max(25vw, 50px);
}

.about .content button {
  background-color: rgb(150, 237, 255);
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
}
