.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style:;
}

.navbar h1 {
  font-size: max(2vw, 12px);
  margin: 30px 40px;
  cursor: pointer;
}

.navbar .navbar_right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 40px;
  font-size: max(1.2vw, 12px);
}

.navbar .navbar_right p{
    cursor: pointer;
}

